<nav aria-label="breadcrumb">
	<ol class="breadcrumb">

		{% if title == 'Cart' %}
		<li class="breadcrumb-item active">Cart</li>
		{% else %}
		<li class="breadcrumb-item"><a href='{{ url_for("store.cart") }}'>Cart</a></li>
		{% endif %}

		{% if title == 'Shipping Address' %}
		<li class="breadcrumb-item active">Shipping Address</li>
		{% elif session['cart'] %}
		<li class="breadcrumb-item"><a href='{{ url_for("store.checkout", subpath="shipping_address") }}'>Shipping
				Address</a></li>
		{% endif %}

		{% if title == 'Shipping Option' %}
		<li class="breadcrumb-item active">Shipping Option</li>
		{% elif session['shipping_address'] %}
		<li class="breadcrumb-item"><a href='{{ url_for("checkout.shipping_option") }}'>Shipping Option</a>
		</li>
		{% endif %}

		{% if title == 'Billing Address' %}
		<li class="breadcrumb-item active">Billing Address</li>
		{% elif session['shipping_option'] %}
		<li class="breadcrumb-item"><a href='{{ url_for("store.checkout", subpath="billing_address") }}'>Billing
				Address</a></li>
		{% endif %}

		{% if title == 'Payment' %}
		<li class="breadcrumb-item active">Payment</li>
		{% elif session['billing_address'] %}
		<li class="breadcrumb-item"><a href='{{ url_for("checkout.payment") }}'>Payment</a></li>
		{% endif %}

		{% if title == 'Review' %}
		<li class="breadcrumb-item active">Review</li>
		{% elif session['payment'] %}
		<li class="breadcrumb-item"><a href='{{ url_for("checkout.review") }}'>Review</a></li>
		{% endif %}

	</ol>
</nav>