{% extends "checkout/checkout_layout.html" %}
{% block checkout %}
<form method="post" id="submit_order"></form>
<form id='update_cart' method='post' action='{{ url_for("store.cart_update") }}'></form>
<ul class="list-group">
    <button class="list-group-item" data-toggle="collapse" data-target="#order_summary">
        Show Order Summary
    </button>
    <div id="order_summary" class="collapse">
        <li class="list-group-item">
            {% for item in cart_items %}
            <div class='row pt-3 pb-3'>
                <div class='col-3 align-self-center' align='center'>
                    <div>
                        <img class='img-fluid'
                            src='{{ url_for("static", filename="images/store/products/" + item.product.image_file) }}'>
                    </div>
                </div>
                <div class='col-4'>
                    {{item.product.name}}<br>
                    Item: {{ item.product.code }}<br>
                    Size: {{ item.size }}<br>
                    Color: {{ item.product.color }}<br>
                    <a class='btn btn-outline-info'
                        href='{{ url_for("store.cart_item_update", item_id=item.id ) }}'>Edit</a>
                    <form action='{{ url_for("store.cart_delete_item", item_id=item.id) }}' method='POST'
                        style='display: inline;'>
                        <input class='btn btn-outline-danger' type='submit' value='Remove'>
                    </form><br><br>
                </div>
                <div class='col-5' align='right'>
                    CAD {{ '%0.2f' | format(item.product.price) }} x
                    <select class='custom-select d-inline' id='{{item.id}}' form='update_cart' name='{{ item.id }}'
                        style='width: 60px; text-align-last: center'>
                        <option value="1" {% if item.quantity==1 %} selected {% endif %}>1</option>
                        <option value="2" {% if item.quantity==2 %} selected {% endif %}>2</option>
                        <option value="3" {% if item.quantity==3 %} selected {% endif %}>3</option>
                        <option value="4" {% if item.quantity==4 %} selected {% endif %}>4</option>
                        <option value="5" {% if item.quantity==5 %} selected {% endif %}>5</option>
                        <option value="6" {% if item.quantity==6 %} selected {% endif %}>6</option>
                        <option value="7" {% if item.quantity==7 %} selected {% endif %}>7</option>
                        <option value="8" {% if item.quantity==8 %} selected {% endif %}>8</option>
                        <option value="9" {% if item.quantity==9 %} selected {% endif %}>9</option>
                        <option value="10" {% if item.quantity==10 %} selected {% endif %}>10</option>
                    </select>
                    <script type="text/javascript">
                        $("#{{item.id}}").change(function () {
                            this.form.submit();
                        });
                    </script>
                    <div class='d-inline'>
                        ${{ '%0.2f' | format(item.product.price * item.quantity|float)  }} CAD
                    </div>
                </div>
            </div><br>
            {% endfor %}
        </li>
    </div>
</ul><br>
<ul class='list-group'>
    <li class="list-group-item">
        <h3>Order Details</h3>
    </li>
    <li class="list-group-item">
        Cart Total: {{ '%0.2f' | format(cart.total|float)  }} CAD
        </a>
    </li>
    <li class="list-group-item">
        Contact: {{order_details.shipping_address.phone}} or {{order_details.shipping_address.email}}
        <a class='float-right' href='{{ url_for("store.checkout", subpath="shipping_address") }}'>
            Change
        </a>
    </li>
    <li class="list-group-item">
        Ship to: {{order_details.shipping_address.address}}, {{order_details.shipping_address.city}},
        {{order_details.shipping_address.province}}, {{order_details.shipping_address.postal_code}}
        <a class='float-right' href='{{ url_for("store.checkout", subpath="shipping_address") }}'>
            Change
        </a>
    </li>
    <li class="list-group-item">
        Bill to: {{order_details.billing_address.address}}, {{order_details.billing_address.city}},
        {{order_details.billing_address.province}}, {{order_details.billing_address.postal_code}}
        <a class='float-right' href='{{ url_for("store.checkout", subpath="billing_address") }}'>
            Change
        </a>
    </li>
    <li class="list-group-item border-1">
        Method of delivery: {{order_details.shipping_option}}
        <a class='float-right' href='{{ url_for("checkout.shipping_option") }}'>
            Change
        </a>
    </li>
    <li class="list-group-item border-1">
        {% include 'checkout/components/go-back-button.html' %}
        </a>
        <input class='btn btn-outline-info float-right' type="submit" name="submit" value="Submit"
            form='submit_order' />
    </li>
</ul><br>
{% endblock %}